@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div>
    <p>
        Last Updated: 25 March 2023
    </p>
    <p>
        Software Tracker is committed to protecting the privacy of our users.
    </p>
    <p>
        This Privacy Policy describes how we collect, use, disclose, and protect information that we collect from visitors to Software Tracker.
    </p>
    <h2>
        Information We Collect
    </h2>
    <p>
        We collect personal information that you voluntarily provide to us when you interact with Software Tracker. This may include your name, email address, mailing address, phone number, and any other information you choose to provide.
    </p>
    <h2>
        How We Use Your Information
    </h2>
    <p>
        We use the information we collect for various purposes, including:
    </p>
    <p>
        To provide and maintain Software Tracker;
        To improve, personalize, and customize Software Tracker;
        To communicate with you, including responding to your inquiries and providing customer support;
        To analyze how users interact with Software Tracker and to generate insights that help us improve Software Tracker and develop new features;
        To detect, prevent, and address technical issues and security vulnerabilities.
    </p>
    <h2>
        Disclosure of Your Information
    </h2>
    <p>
        We may disclose your personal information to third parties in the following circumstances:
    </p>
    <p>
        With your consent;
        To comply with legal obligations or respond to lawful requests from government authorities;
        To protect our rights, property, or safety, or the rights, property, or safety of others.
    </p>
    <h2>
        Data Security
    </h2>
    <p>
        We take reasonable measures to protect the security of your personal information and to prevent unauthorized access, disclosure, alteration, or destruction. However, please be aware that no method of transmission over the internet or method of electronic storage is 100% secure.
    </p>
    <h2>
        Third-Party Links
    </h2>
    <p>
        Software Tracker may contain links to third-party websites or services that are not owned or controlled by us. We are not responsible for the privacy practices or content of such third-party websites or services. We encourage you to review the privacy policies of those third parties before providing any personal information.
    </p>
    <h2>
        Changes to This Privacy Policy
    </h2>
    <p>
        We reserve the right to update or modify this Privacy Policy at any time. If we make material changes to this Privacy Policy, we will notify you by posting the updated Privacy Policy on Software Tracker and updating the "Last Updated" date above.
    </p>
</div>